  <div class="col-lg-10">
      <div class="card card-chart">
          <div class="card-header">
              <!-- Search Bar -->
              <div class="buscar-caja">
                  <input type="text" name="" id="search-text" class="buscar-txt" placeholder="Search ....."/>
                  <button class="btn-default animation-on-hover" type="button" (click)="chercherSons();"></button>
              </div>
          </div>
          <div class="card-body">
              <!-- Load songs into here -->
              <div class="container" id="song-list">
                  <div class="row">
                      <div id="song_0" class="col"></div>
                      <div id="song_1" class="col"></div>
                      <div id="song_2" class="col"></div>
                  </div>
                  <div class="row">
                      <div id="song_3" class="col"></div>
                      <div id="song_4" class="col"></div>
                      <div id="song_5" class="col"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>