.carte-infos{    
    background-color: #f8f88e;
    background: #f0f04e;
    background: -webkit-linear-gradient(0deg, #f0f04e 0%, #f8f88e 100%);
    background: -o-linear-gradient(0deg, #f0f04e 0%, #f8f88e 100%);
    background: -moz-linear-gradient(0deg, #f0f04e 0%, #f8f88e 100%);
    background: linear-gradient(0deg, #f0f04e 0%, #f8f88e 100%);
}

.contenu-carte{
    color: black;
    font-size: 15px;
    text-align: center; 
    font-weight: bold; 
}

.titre-carte {
    font-size: 30px;
    color: black;
    text-decoration: underline; 
    text-align: center; 
    font-weight: bold;
}